.leaflet-control-layers-group-name {
  margin-bottom: .2em;
  margin-left: 3px;
	font: bold 18px/14px 'Roboto', sans-serif;
}

.leaflet-control-layers-group {
  margin-bottom: .5em;
  height: 100%;
  text-shadow: 1px 1px #111;
}

.leaflet-control-layers-scrollbar {
  overflow-y: scroll;
  padding-right: 10px;
}
