.leaflet-contextmenu {
    display: none;
    box-shadow: 0 3px 14px rgba(0,0,0,0.4);
    -webkit-border-radius: 15px;
    padding: 4px 0;
    background-image: url("../data/images/site/bg_tipT.png");
    border-radius: 15px;
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
	border: 2px;
	border-style: solid;
	border-color: #000;
}

.leaflet-contextmenu a.leaflet-contextmenu-item {
    display: block;
    color: #ffffff;
    font-size: 12px;
    line-height: 20px;
    text-decoration: none;
    padding: 0 12px;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    cursor: default;
    outline: none;
}

.leaflet-contextmenu a.leaflet-contextmenu-item-disabled {
    opacity: 0.5;
}

.leaflet-contextmenu a.leaflet-contextmenu-item.over {
    background-color: black;
    background-blend-mode: multiply;
    border-radius: 15px;
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    border-left: 1px solid #f0f0f0;
    border-right: 1px solid #f0f0f0;
}

.leaflet-contextmenu a.leaflet-contextmenu-item-disabled.over {
    background-color: inherit;
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
}

.leaflet-contextmenu-icon {
    margin: 2px 8px 0 0;
    width: 16px;
    height: 16px;
    float: left;
    border: 0;
}

.leaflet-contextmenu-separator {
    border-bottom: 1px solid black;
    margin: 5px 0;
}
